@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://static.pexels.com/photos/9056/pexels-photo.jpg=grassbg');

@media screen and (min-width: 1000px) {
  .column {
    float: left;
    width: 480px;
    height: 460px;
    border-style: groove;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
  }

  .column p {
    width: 460px;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  #title{
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 3em;
  }

  .column h3 {
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 2em;
  }

  .column img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 275px;
    margin-bottom: -10px;
    border: solid black;
    border-radius: 50%
  }

  body {
  background: url("../img/Grass.jpg") no-repeat center center fixed;
  background-size: cover;
  }
}

@media screen and (min-width: 480px) and (max-width: 1000px){
  .column {
    float: left;
    width: 345px;
    height: 400px;
    border-style: groove;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
  }

  .column p {
    width: 300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  #title{
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 2em;
  }

  .column h3 {
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 2em;
  }

  .column img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 175px;
    margin-bottom: -10px;
    border: solid black;
    border-radius: 25px;
  }

  body {
  background: url("../img/Grass.jpg") no-repeat center center fixed;
  background-size: cover;
  }
}

@media screen and (max-width: 480px) {
  .column {
    float: left;
    width: 300px;
    height: 400px;
    border-style: groove;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
  }

  .column p {
    width: 300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  #title{
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 3em;
  }

  .column h3 {
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 1em;
  }

  .column img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 200px;
    margin-bottom: -10px;
    border: solid black;

    border-radius: 25px;
  }

  body {
  background: url("../img/Grass.jpg") no-repeat center center fixed;
  background-size: cover;
  }

}

.footer {
  position: fixed sticky bottom;
  float: clear;
  display: block;
  width: 700px;
}
