@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://static.pexels.com/photos/9056/pexels-photo.jpg=grassbg');

.column {
  float: left;
  width: 520px;
  height: 460px;
  border-style: groove;
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.column p {
  width: 460px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#title{
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 3em;
}

.column h3 {
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 2em;
}

.column img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 275px;
  margin-bottom: -10px;
  border: solid black;

  border-radius: 50%
}

body {
background: url("../img/Grass.jpg") no-repeat bottom fixed;
background-size: 100%;
}
